RewriteEngine On

RewriteRule ^adopt/demo/?$ /adopt/demo/index.html [L]
RewriteRule ^adopt/request-access/success/?$ /adopt/request-access/success/index.html [L]
RewriteRule ^adopt/request-access/?$ /adopt/request-access/index.html [L]
RewriteRule ^adopt/?$ /adopt/index.html [L]
RewriteRule ^core/?$ /core/index.html [L]
